<li class="command">
    <div class="card">
        <div class="card-body">
            <div class="command-header">
                <h3 class="card-title">
                    <i class="fas fa-angle-right more"></i>
                    {{ post.command }}
                    <span class="badge badge-pill badge-{{ post.badge }}">{{ post.category }}</span>
                </h3>
            </div>
            <div class="command-wrapper">
                <p class="card-text">
                    {{ post.content }}
                </p>
            </div>
        </div>
    </div>
</li>