<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">

<!-- HTML -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/img/logo/logo2.png" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link nav-item active hvr-underline-from-left" href="/">Home</a>
        <a class="nav-link nav-item hvr-underline-from-left" href="/#features">Features</a>
        <a class="nav-link nav-item hvr-underline-from-left" href="/#download">Download</a>
        <a class="nav-link nav-item hvr-underline-from-left" href="/discord-bot">Discord Bot <span class="badge badge-pill badge-primary">New</span></a>
        <!-- <a class="nav-link nav-item disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>